@page
@model UserLogin.Pages.Shared.Cart
<div class="top">

    <img id="logo" src="./Images/logo.png">


</div>
<main>
    
    <div class = "downloadArea"></div>

</main>
<script src="shoppingcart.js"></script>
<script src="cart.js" type="module"></script>


