@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<header>

    <img id="logo" src="./Images/logo.png">

    <div class="navegator">
        <div class="button"><a href="./Cart" title="ShopCart">
                <div class="buttonText">
                    <img class="cart" src="./Images/cart.png">
                    <div id="number">1</div>
                </div>
            </a></div>
            @* <audio controls controlsList="nofullscreen nodownload noremoteplayback noplaybackrate fooba"
        src="./Music/aurora.mp3"> *@
</header>

</div>
<div id="space"></div>
<main class="main">
    <div class="player">
        <h4><i class="material-icons" id="equalizer">equalizer</i> Playlist</h4>


        <div class="card">
            @* <img class="cover" />
            <div id="audioDescription">
            <div class="cardContent">
            <h5></h5>
            <button class="buttonMusic">
            <i class="material-icons" id="#shoppingCartCheckout">shopping_cart</i>
            </button>
            </div>
            <div class="audioContainer">
            <audio controls
            controlsList="nofullscreen nodownload noremoteplayback noplaybackrate fooba">
            </div>
            </div> *@

        </div>
        <audio></audio>

    </div>


    </div>


</main>
<div id="space"></div>

<script src="site.js"></script>