@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="top">

    <img id="logo" src="./Images/logo.png">

    <div class="navegator">
        <div class="button">
            <a href="./Cart" title="ShopCart">
                <div class="buttonText">
                    <img class="cart" src="./Images/cart.png">
                    <div id="number">1</div>
                </div>
            </a>
        </div>
    </div>

</div>
<div id="space"></div>
<main class="main">
    <div class="player">
        <h4><i class="material-icons" id="equalizer">equalizer</i> Playlist</h4>


        <div class="card">
            
        </div>
        <audio></audio>

    </div>


    </div>


</main>
<div id="space"></div>

<script src="site.js"></script>